<!doctype html>
<html lang="en"
      xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="protein, structure, similarity, detection, Jmol" name="keywords">
    <meta content="Protein structure similarity detection alrorithm" property="description">
    <link href="/images/icon.png" rel="icon" type="image/x-icon">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <script src="/js/app.js" type="module"></script>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>Similarity Detection - Error</title>
</head>

<body>
<h1>403</h1>
<div class="cloak__wrapper">
    <div class="cloak__container">
        <div class="cloak"></div>
    </div>
</div>
<div class="info">
    <h2>The page can not be accessed.</h2>
    <p>The requested page has display restrictions.
        Please make sure you're looking for exactly what you want and try again!</p><a th:href="@{/}">Home</a>
</div>
</body>
</html>