@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column h3 {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    color: #454cad;
    margin-bottom: 0;
}

.script {
    float: left;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 65px;
}
.file-url {
    margin-top: 15px;
    width: 450px;
}
