<!doctype html>
<html lang="en"
      xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="protein, structure, similarity, detection, Jmol" name="keywords">
    <meta content="Protein structure similarity detection alrorithm" property="description">
    <link href="/images/icon.png" rel="icon" type="image/x-icon">
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <script src="/jmol/jsmol/JSmol.min.js"></script>
    <script src="/jmol/jsmol/js/Jmol2.js"></script>
    <script> jmolInitialize("/jmol/jsmol");</script>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <title>Protein Structure Similarity Detection</title>
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div id="container">
    <hr style="width:100%;text-align:left;margin-left:0;margin-top: -1px">
    <div class="row">
        <form enctype="multipart/form-data" id="file-upload-form"
              style="margin-top: 15px"
              th:action="@{/upload}"
              th:method="POST"
              th:object="${addModel}"
        >
            <div id="info" style="margin-bottom: 10px">
                <p style="margin-bottom: 30px">In order to detect the degree of similarity between two PDB files you
                    need to enter the score function factor for type and the two PDB File URLs below!
                    <br>
                    Please, provide the file URLs from the
                    official <a th:href="@{https://www.rcsb.org/}"><b>PDB</b></a> (Protein data bank) site, otherwise,
                    you risk getting errors and inaccurate results!
                    <br>
                    If you want to know which algorithm is used or want to read more about the required steps, please go
                    to <a th:href="@{/info}"><b>Information</b></a> to get you know.
                    <br>
                    Use <b>"Detect"</b> button to start the algorithm!</p>
                <p>Scoring function:</p>
                <p class="alert alert-primary" style="color: red" th:if="*{scoringMessage ne null}"
                   th:text="*{scoringMessage}"></p>
                <label for="positiveFactor">Positive:</label>
                <input class="factor"
                       id="positiveFactor"
                       th:field="*{positiveFactor}"
                       type="number"
                       min="1"
                />
                <label for="negativeFactor" style="margin-left: 10px">Negative:</label>
                <input class="factor"
                       id="negativeFactor"
                       th:field="*{negativeFactor}"
                       type="number"
                       max="0"
                />
                <br><br>
                <div class="column">
                    <h3>PDB File URL:</h3>
                    <div class="alert alert-primary message" th:if="*{firstMessage ne null}"
                         th:text="*{firstMessage}"></div>
                    <div class="alert alert-primary message" style="visibility: hidden"
                         th:if="*{firstMessage == null && secondMessage ne null}"
                         th:text="*{secondMessage}"></div>
                    <input class="file-url"
                           id="first-file-url"
                           name="firstFilePath"
                           th:field="*{firstFilePath}"
                           type="url"
                    />
                    <div class="script">
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            const firstFile = [[*{firstFilePath}]];
                            /*]]>*/
                            if (firstFile) jmolApplet(400, 'load ' + firstFile + '', '0');
                        </script>
                    </div>
                </div>
                <div class="column">
                    <h3>PDB File URL:</h3>
                    <div class="alert alert-primary message" th:if="*{secondMessage ne null}"
                         th:text="*{secondMessage}"></div>
                    <div class="alert alert-primary message" style="visibility: hidden"
                         th:if="*{secondMessage == null && firstMessage ne null}"
                         th:text="*{firstMessage}"></div>
                    <input class="file-url"
                           id="second-file-url"
                           name="secondFilePath"
                           th:field="*{secondFilePath}"
                           type="url"
                    />
                    <div class="script">
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            const secondFile = [[*{secondFilePath}]];
                            /*]]>*/
                            if (secondFile) jmolApplet(400, 'load ' + secondFile + '', '1');
                        </script>
                    </div>
                </div>
                <input style="margin-top: 20px; padding: 5px 10px; font-size: 16px; background-color: rgb(255, 236, 225); border: none; cursor: pointer"
                       type="submit" value="Detect">
                <br>
                <p style="font-weight: bold; font-size: large; margin-top: 15px; text-align: center"
                   th:if="*{degreeOfSimilarity ne null}" th:text="*{degreeOfSimilarity}"></p>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer">Footer</div>
</div>
</body>
</html>